@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-yellow: #f9c74f;
  --color-purple: #9d4edd;
}

*>* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 4em 0;
}

.bg-yellow {
  background-color: var(--color-yellow);

}

.bg-yellow {
  background-color: var(--color-purple);

  }